/*---------
	style.css

	by matt peveler
------------*/

html {
	overflow-y: scroll;
}

body {
	/*margin:0px;*/
	margin-top: 0px auto;
	margin-bottom: 20px auto;
	font-family: Arial;
}

h1 a {
	color: #FFF;
	text-decoration: none;
}

h1 a:hover {
	color: #FFF;
}

a {
	/*color: #0000ac;*/
	color: #1A84AD;
	text-decoration: underline;
}

a:hover {
	color: #000050;
	text-decoration: none;
}

#container {
	margin: 0 auto;
	width: 800px;
}

#header {
	height: 60px;
	background: #9c0e01;
	color: #ffffff;
	margin-top: -21px;
}

#header h1 {
	padding-top: 10px;
	padding-left: 15px;
	font-size: 1.75em;
}

#header #menu {
	float: right;
}

#header #menu li {
	list-style-type: none;
	float: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 10px;
}

#header #menu a {
	padding: 20px 20px 20px 20px;
	color: #ffffff;
	text-decoration: none;
}

#header #menu a:hover {
	padding: 20px 20px 20px 20px;
	background: #8a1307;
}

#header #menu .selected {
	font-weight: bold;
}

#content {
	font-family: Helvetica;
	font-size: .95em;
	margin-bottom: 15px;
}

#content h2 {
	font-size: 1.4em;
	margin-bottom: 20px;
}

#content .section {
	font-size: 1.2em;
	/*margin-bottom: 0px;
	float: right;*/
	margin-left: 625px;
}

#content hr {
	margin-top: -3px;
	margin-bottom: 10px;
	border: 1px solid #000;
	width: 600px;
	text-align: right;
	margin-left: 0px;
}

#content .line {
	width: 800px;
}

#content p {
	margin-top: -5px;
}

.thumb {
	margin-bottom: 20px;
}

.thumb IMG {
	height:192px;
	width:240px;
}

#content .desc {
	float: right;
	margin-top: -225px;
	padding-left: 260px;
}

#content .desc h3 {
	font-size: .9em;
	margin-bottom: 3px;
}

.project {
	border-top: 2px solid black;
	padding-top: 10px;
}

#resumeImages {
	float: right;
	margin-top: -50px;
	margin-right: 50px;
}

#resume {
	font-family:"Times New Roman", Times, serif;
	font-size: 16px;
	margin-bottom: 40px;
}

#resumeHeader {
	text-align: center;
}

#resumeHeader span {
	font-size: 22px;
	font-weight: bold;
}

#resume ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

#resume li {
	list-style-image: url("images/bullet.jpg");
}

#resume div {
	font-weight: bold;
	margin-bottom: 10px;
}

#resume span {
	font-weight: bold;
}

#resume .schoolLocation {
	font-weight: normal;
	float: right;
	margin-top: -20px;
	margin-right: 150px;
}

#resume .schoolDesc {
	font-weight: normal;
	margin-left: 40px;
}

#resume .experience {
	font-weight: bold;
	margin-left: 40px;
	margin-bottom: 0px;
}

#footer {
	margin-top: 5px;
	margin-bottom: 20px;
}

#footer a {
	color: #0000ac;
	text-decoration: none;
}

#footer a:hover {
	color: #000050;
	text-decoration: none;
}

#footer li {
	list-style-type: none;
	float: left;
	margin: -10px 80px 40px -40px;
}
